<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::body})}" lang="en">

<body>
    <form th:action="@{/security/login}" id="form__dangnhap" method="post">
        <div class="auth-form">
            <div class="auth-form__container">
                <div class="auth-form__header">
                    <h3 class="auth-form__heading">Đăng nhập</h3>
                    <!-- <a th:href="@{/security/registration/form}" class="auth-form__switch-btn">Đăng ký</a> -->
                    <a href="" onclick="dangky()" class="auth-form__switch-btn">Đăng ký</a>
                </div>
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" name="username" class="auth-form__input __input-user"
                            placeholder="User của bạn">
                    </div>
                    <div class="header__search" style="border: 1px solid #dbdbdb; margin-top: 20px; height: 40px;">
                        <div class="header__search-input-wrap">
                            <input type="password" name="password" id="showPass" class="header__search-input"
                                placeholder="Nhập mật khẩu">
                        </div>
                        <!-- <div class="header__search-select">
                            <button>Show</button>
                        </div> -->
                        <a class="header__search-btn show_hide_pass" onclick="showPass()">
                            <div class="icon_pass far fa-eye" id="show_pass"
                                style="font-size: 1.8rem; line-height: 34px;">
                            </div>
                            <div class="icon_pass far fa-eye-slash" id="hide_pass"
                                style="font-size: 1.8rem; line-height: 34px;">
                            </div>
                        </a>
                    </div>
                    <!-- <div class="auth-form__pass">
                        <div class="auth-form__group-password">
                            <input type="password" id="showPass" class="__input-pass" placeholder="Nhập mật khẩu">
                        </div>
                        <a class="header__search-btn show_hide_pass" onclick="myFunction()">
                            <div class="icon_pass far fa-eye" id="show_pass" style="font-size: 1.8rem;">
                            </div>
                            <div class="icon_pass far fa-eye-slash" id="hide_pass" style="font-size: 1.8rem;">
                            </div>
                        </a>
                    </div> -->
                    <div class=" auth-form__aside">
                        <div class="auth-form__help">
                            <a href="" class="auth-form__help-link auth-form__help-forgot">Quên mật khẩu
                            </a>
                            <span class="auth-form__help-sepatate"></span>
                            <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                        </div>
                    </div>
                    <span class="__message__" th:text="${message}"></span>
                    <div class="auth-form__control">
                        <a onclick="closeModal()" class="btn auth-form__control-back btn--normal">TRỞ
                            LẠI</a>
                        <button class="btn btn--primary">ĐĂNG NHẬP</button>
                    </div>
                </div>
            </div>
            <div class="auth-form__socials">
                <a href="/oauth2/authorization/facebook"
                    class="btn auth-form__socials--facebook btn--size-s btn--with-icon">
                    <i class="auth-form__socials-icon fa fa-facebook-square"></i>
                    <span class="auth-form__socials-title">
                        Kết nối với Facebook
                    </span>
                </a>
                <a href="/oauth2/authorization/google"
                    class="btn auth-form__socials--google auth-form__socials-icon btn--size-s btn--with-icon">
                    <i class="auth-form__socials-icon fa fa-google"></i>
                    <span class="auth-form__socials-title">
                        Kết nối với Google
                    </span>
                </a>
            </div>
            <!-- <div class="close__modal" id="close__modal">
                <div class="close__icon">
                    <a class="close__icon__link" onclick="closeModal()">
                        <i class="fas fa-times"></i>
                    </a>
                </div>
            </div> -->
        </div>
    </form>
</body>

</html>