<!DOCTYPE html>
<html xmlns:th="http://themyleaf.org">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<footer class="footer">
		<div class="grid">
			<div class="grid__row">
				<div class="grid__column-2-4">
					<h3 class="footer__heading">Chăm sóc khách hàng</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__item__link">Trung tâm trợ giúp</a></li>
						<li class="footer__item"><a href="tel: 0394008704" class="footer__item__link">Tổng đài:
								1800.8080</a></li>
						<li class="footer__item"><a href="" class="footer__item__link">Hướng dẫn mua hàng</a></li>
					</ul>
				</div>
				<div class="grid__column-2-4">
					<h3 class="footer__heading">Giới thiệu</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__item__link">Giới thiệu</a></li>
						<li class="footer__item"><a href="" class="footer__item__link">Tuyển dụng</a></li>
						<li class="footer__item"><a href="" class="footer__item__link">Điều khoản</a></li>
					</ul>
				</div>
				<div class="grid__column-2-4">
					<h3 class="footer__heading">Theo dõi chúng tôi</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="https://www.facebook.com/tuanpc.1902/"
								class="footer__item__link"> <i class="footer__item__icon fab fa-facebook"></i> Facebook
							</a></li>
						<li class="footer__item"><a href="https://www.instagram.com/t_uanpc.1902/"
								class="footer__item__link"> <i class="footer__item__icon fab fa-instagram"></i>
								Instagram
							</a></li>
						<li class="footer__item"><a href="http://linkedin.com/in/pham-cong-tuan"
								class="footer__item__link"> <i class="footer__item__icon fab fa-linkedin"></i> Linkedin
							</a></li>
					</ul>
				</div>
				<div class="grid__column-2-4">
					<h3 class="footer__heading">Danh mục</h3>
					<ul class="footer__list">
						<li class="footer__item"><a href="" class="footer__item__link">Laptop giá rẻ</a></li>
						<li class="footer__item"><a href="" class="footer__item__link">Nguồn máy tính 80 plus</a></li>
						<li class="footer__item"><a href="" class="footer__item__link">Chuột Logitech</a></li>
					</ul>
				</div>
				<div class="grid__column-2-4">
					<h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
					<div class="footer__download">
						<img class="footer__download__pr" th:src="@{/img/qr_code.png}" alt="qr_code">
						<div class="footer__download__apps">
							<a class="footer__download__apps__link"
								href="https://itunes.apple.com/VN/app/id959841449?mt=8"> <img
									th:src="@{/img/app_store.png}" alt="app-store" class="footer__download__apps__img">
							</a> <a class="footer__download__apps__link"
								href="https://play.google.com/store/apps/details?id=com.shopee.vn&referrer=af_tranid%3Drsx9V4J79OX3NH5LwyqLcw%26pid%3DOrganicA%26c%3Dlp_home_and1">
								<img th:src="@{/img/gg_play.png}" alt="gg-play" class="footer__download__apps__img">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="grid">
				<p class="footer__text">© 2021 - Bản quyền thuộc về Phạm Công
					Tuấn (PS14046)</p>
			</div>
		</div>
	</footer>
	<script>
		function keyCode(event) {
			var x = event.keyCode;
			if (x == 27) {
				closeModal();
			}
		}

	</script>
</body>

</html>