<div class="card">
    <!-- <div class="card-header">
        PRODUCT EDITION
    </div> -->
    <div class="card-body">
        <div class="row">
            <div class="col-sm-9">
                <div class="form row">
                    <div class="form-group col-sm-6">
                        <label for="id">Order No.</label>
                        <input type="text" class="form-control" name="id" ng-model="form.id">
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="username">Tên tài khoản</label>
                        <input type="text" class="form-control" name="username" ng-model="form.username">
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-sm-6">
                        <label for="createDate">Ngày đặt</label>
                        <input type="date" class="form-control" name="createDate" ng-model="form.createDate">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="address">Địa chỉ</label>
                        <!-- <input type="date" class="form-control" name="createDate" ng-model="form.createDate"> -->
                        <textarea class="form-control" id="" cols="30" rows="3" name="address"
                            ng-model="form.address"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="create()" class="btn btn-primary"><i class="fas fa-plus"></i> Thêm mới</button>
        <button ng-click="update()" class="btn btn-success"><i class="fas fa-save"></i> Cập nhật</button>
        <button ng-click="delete(form)" class="btn btn-danger"><i class="fas fa-trash"></i> Xóa</button>
        <button ng-click="reset()" class="btn btn-info"><i class="fas fa-refresh"></i> Reset</button>
    </div>
</div>